################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameShopProj/.vs/GameShopProj
/GameShopProj/GameShopProj/obj
